#all {
 font-family: 'Alegreya Sans SC';font-size: 17pt; font-weight: bold;
}
body {
background: #7C7B7B;color:black;
}
#messageContent {
background: #CDCDCD;color:black;border:solid;border-radius:10px;border-width:2px;
}
img {
border:solid;border-radius:8px;border-width:2px;
}
